@tailwind base;
@tailwind components;
@tailwind utilities;



.card::-webkit-scrollbar{
    display: none;
}

.movieImage{
    cursor: pointer;
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 670px;
  background-color: #000000; 
  box-shadow: 0 0 24px rgba(64, 81, 97, 0.96); 
  padding: 16px;
  /* border-radius: 20px; */
  display: block;
  border: solid 2px rgb(0, 0, 0);
  z-index: 1000;
  
}
