@tailwind base;
@tailwind components;
@tailwind utilities;



.banner{
    
    background-size: cover;
    color: white;
}

.button_play:hover{
    background-color: rgb(183, 183, 183);
}
.button_info:hover{
    background-color: rgb(72, 72, 72);
    
}

.fade{
    height: 7.4rem;
    background-image: linear-gradient(transparent,rgb(0,0,0));
}

